
 @import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');
 
.sticky + .main-content
{
    padding-top: 80px;
}

.links i
{
    margin: 10px;
    font-size: 32px;
    color: black;
}

.search-clear
{
    border: 0;
    font-size: 16px;
    background: 0;
    color: gray;
    position: relative;
    left: -28px;
}

.search-clear:focus
{
    box-sizing: border-box;
    outline: none;
    color: black;
}

input[type=text] {
    padding: 4px 24px 4px 4px;
    box-sizing: border-box;
    border: thin solid #00000033;
    background: #FFFFFFAA;
    outline: none;
}

.search-bar
{
    display: flex;
    justify-self: flex-end;
}